@charset "UTF-8";
/* CSS Document */



* {
	-webkit-backface-visibility:hidden;
	-webkit-font-smoothing:anntialiased;
	font-smoothing:antialiasded;
	text-rendering:antialiased;
	
	font-family: 'Open Sans', sans-serif;
}

.container{

}

.span100{
	width:100%;
	background:blue;
	left:0;
	right:0;
	width:100%;
	position:absolute;
}
.row{
	margin:0 auto;
}

/*header */
.navbar {
border-bottom: 1px solid #34a0ce;
height:60px;
box-shadow:0 1px 1px rgba(0,0,0,.15);
}
.navbar-inverse .navbar-inner{
	background:#43b3e2;
}
.navbar-inner {
background:#43b3e2;
height:60px;
}
.navbar .brand {
position: relative;
top: 16px;
text-indent: -9999px;
background-image: url(http://minamistudios.com/hack/images/logo.jpeg);
width: 188px;
height:6px;
}
.navbar .nav > li > a {
padding:10px 0 3px 0;
margin-right:20px;
font-size:14px;
text-shadow:none;
color:#fff;
text-shadow: 0px 1px 2px rgba(0,0,0,.3);
border-bottom:2px solid rgba(0,0,0,0);

-webkit-transition: all 0.10s ease-out;
transition: all 0.10s ease-out;
-o-transition: all 0.10s ease-out;
-ms-transition: all 0.10s ease-out;
-moz-transition:all 0.10s ease-out;
}
 
.navbar .nav > li > a:hover {
padding-top:6px;
color:#fff;
border-bottom-color:rgba(255,255,255,0.8);
}
.navbar .nav > li:last-child > a {
margin-right:0;
}

.navbar .nav {
float:right;
top: 8px;
}
/* fin header */

.size1{
	font-size:28px;
	font-weight:300;
}
.size2{
	font-size:20px;
}
.size3{
	font-size:16px;
}
.size4{
	font-size:12px;
}
.size5{
	font-size:11px;
}
.small2{
	font-size:11px;
}
.grayBG{
	background:gray;
}
.noSpace{
	margin:0px;
	padding:0px;
}
.descSmall {
	font-size:12px;
	line-height:14px;
	padding:0 px;
	margin:0px;
}
.pageMargins{
	margin:80px 0 0 0;
}

.statName {
	color:#999;
	font-weight:300;
}

.statsCat {
	margin-bottom:10px;
}

.statsCat p {
	margin-top:20px;
	font-size:20px;
	display:inline;
	margin-right:10px;
}

.media.statsCat {
	margin-top:5px;
}

.thumbnail{
}
.thumbnail h4{
	margin-left:10px;
	line-height:26px;
	font-size:20px;
	text-align:center
}
.listadoIniciativas.thumbnails h5{
	line-height:26px;
	font-size:14px;
	margin-bottom:44px;
}
.thumbnails p{
	font-size:12px;
	line-height:16px;
	margin-top:5px;
}

.Categoria .thumbnail img{
	margin-top:10px;
}
 /* Mensaje de bienvenida */
.intro{
	padding:5px;
	font-weight:bold;
	font-size:22px;
	line-height:30px;
}
.hero-unit{
	padding:20px 30px 20px 30px;
	height:190px;

}
.hero-unit.welcomeMsg {
	background-image:url(http://minamistudios.com/hack/images/hotspot.png);
/*	text-shadow: 0 1px 4px rgba(0,0,0,.95);*/
}
.block{

}
.welcomeMsg h1 {
       font-weight:400;
       color:white;
}
.welcomeMsg p {
       font-weight:400;
       color:white;
}
.hero-unit h1{
	margin-bottom:18px;
	font-size:42px;
}
.hero-unit p{
	font-size:16px;
	line-height:22px;
}


.botones {
	font-weight:300;
	color: #fff;
	margin-top:20px;
}
#botones span{

}
.registerBtn {
	height:50px;
	background-color: #a0c458;
	font-weight:bold;
	color:#fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.6);
	padding: 10px 8px;
	border-radius: 3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
.registerBtn:hover {
	color: #fff;
	text-decoration:none;
	background-color: #8dae4a;
}	
.loginBtn {
	font-weight:400;
	color: rgba(255,255,255, 0.7);
	text-shadow: 0 1px 1px rgba(0,0,0,.6);
	padding-bottom: 3px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	}
	.loginBtn:hover {
		color: rgba(255,255,255,1);
		text-decoration: none;
		border-bottom-color: rgba(255,255,255,0.5);

		}
.msgContainer {
	width:340px;
}

/* Fin mensaje de bienvenida */
.graficos{
	width:460px;
	height:360px;
}
.left{
	float:left;
}
.right{
	float:right;
}
.center{
	text-align:center;
}


.navbar {
	-webkit-box-shadow:0 2px 2px rgba(0,0,0,.4);
	box-shadow: 0 2px 2px rgba(0,0,0,.4);
	-moz-bo-shadow: 0 2px 2px rgba(0,0,0,.4);
}

.media-body .media{
	margin-top:-7px;
}
.media-body h3{
	font-size:12px;
	font-weight:normal;
	line-height:14px;
	margin-bottom:4px;
	margin-top:0px;
}
.noBigMargin  h3 {
	font-size:14px;
	font-weight:bold;
	line-height:16px;
	margin:0px 0px 15px 0px;
}
.sidebar{

}
 /* Barra de progreso */
.estadoBadge{
	width:28%;
	display:inline-block;
}
.estadoBadge.step span {
       margin-left:27px;
}
.estadoBadge.step {
       padding:10px;
       color:#fff !important;
       font-weight:bold;
}
.step.normal {        
       background: #7cbc5d url(http://minamistudios.com/hack/images/jrYIEs1VGvRr.png) no-repeat 13px 12px;
}
.step.current {
       background:#2792ed url(http://minamistudios.com/hack/images/jbuDtAEQPaSHyX.png) no-repeat 13px 12px;
}
.step.next {
       background:#e1e6eb url(http://minamistudios.com/hack/images/jb0J7mgOo3b0Ai.png) no-repeat 13px 12px;
       color:#bec8d2 !important;
}

/* Fin barra de progreso */
.badge{
	font-size:11px;
	color:#474747;
	background:#e2e2e2;
	font-weight:normal;
}
.span4 fieldset, input, select, textarea{
	width:280px;
}
.mapa{
	width:550px;
	margin-left:50px;
	background:#d9d9d9;
	height:500px;
}
.Categoria{
	margin-top:100px;
}
#iniciativasHome.thumbnails{
	margin-bottom:1000px;
}